
$bl-color: #161a1d;
$red-color: #a4161a;

*{
	padding: 0;
	margin: 0;
	border: 0;
}

html{
	scroll-behavior: smooth;
}

body{
	font-family:'Roboto Mono' ,Poppins, sans-serif;
	font-size: 16px;
	background: linear-gradient(to right, $bl-color, #000000);
}

#navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 40px;
	padding: 10px;
	z-index: 99;
	background: linear-gradient(to right, $bl-color, #000000);

	p{
		font-size: 30px;
		color: $red-color;
	}

	ul{
		display: flex;
		list-style: none;
		padding-right: 40px;
		a{
			text-decoration: none;
			color: white;
			padding-inline: 10px;
			transition: 0.5s;
			font-size: 25px;
		}
		a:hover{
			background-color: $red-color;
			color: $bl-color;
			transition: 0.5s;
		}
	}
}

#welcome{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;

	#line{
		width: 2px;
		background-color: $red-color;
		height: 180px;
		margin: 15px;
	}

	#title{

		h1{
			color: white;
			font-size: 60px;
			span{
				color: $red-color;
			}
		}

		p{
			color: white;
			font-size: 20px;
			font-weight: 100;
		}
	}
}

#work-header{
	color: white;
	text-align: center;
	padding-top: 60px;
	font-size: 35px;

}

#work{
	display: grid;
	padding-top: 20px;
	grid-template-columns: repeat(2, 50%);

	.box{
		justify-self: center;
		border-radius: 10px;
		box-shadow: 0 5px 4px 0 black;
		text-decoration: none;
		margin: 30px;
		transition: 0.5s;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: white;
		width: 800px;
		height: auto;

		img{
			border-radius: 10px;
			width: 100%;
			height: 100%;
		}

		p{
			font-size: 20px;
			color: $bl-color;
			span{
				transition: 0.5s;
				opacity: 0;
				color: $red-color;
			}
		}
	}
	.box:hover{
		transform: scale(1.02);
		transition: 0.5s;
		span{
			transition: 0.5s;
			opacity: 1;
		}
	}
}

#more{
	display: flex;
	flex-direction: column;
	justify-contet: center;
	align-items: center;
	margin: 20px;
	header{
		color: $red-color;
		font-size: 30px;
	}

	#links{
		padding-top: 10px;
		a{
			text-decoration: none;
			color: white;
			padding-inline: 10px;
			transition: 0.5s;
			font-size: 25px;
		}
		a:hover{
			background-color: $red-color;
			transition: 0.5s;
		}
	}
}

#contact{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	header{
		color: $red-color;
		font-size: 40px;
		font-weight: bolder;
		padding-bottom: 40px;
	}

	ul{
		padding-top: 10px;
		padding-bottom: 30px;
		display: flex;
		li{
			list-style: none;
			a{
				text-decoration: none;
				color: white;
				padding-inline: 30px;
				display: flex;
				flex-direction: column;
				align-items: center;
				font-size: 30px;
				img{
					width: 100px;
					height: auto;
				}
				span{
					transition: 0.5s;
				}
			}

			a:hover{
				span{
					transition: 0.5s;
					color: $red-color;
				}
			}
		}
	}
}

//Responsive Design

//Tablets verticales y celulares horizontales.
@media (max-width: 767px) {

		#navbar{

		ul{
			padding-right: 20px;
			a{
				font-size: 20px;
				padding-inline: 5px;
			}
		}
	}

	#welcome{
		#line{
			height: 100px;
		}

		#title{

			h1{
				font-size: 35px;
			}

			p{
				font-size: 20px;
			}
		}
	}

	#work-header{
		font-size: 32px;
	}

	#work{
		grid-template-columns: 100%;

		.box{
			width: 700px;
		}
	}

	#more{

		header{
			font-size: 32px;
		}

		#links{

			a{
				font-size: 24px;
			}	
			
		}

	}

	#contact{

		header{
			font-size: 32px;
		}

		ul{
		padding-top: 10px;
			li{
				a{
					font-size: 22px;
					padding-inline: 10px;
					img{
						width: 60px;
						height: auto;
					}
				}
			}
		}
	}
}

//Celulares verticales
@media (max-width: 480px){

	#navbar{
		p{
			font-size: 16px;
		}

		ul{
			padding-right: 20px;
			a{
				font-size: 12px;
				padding-inline: 5px;
			}
		}
	}

	#welcome{
		#line{
			height: 100px;
		}

		#title{

			h1{
				font-size: 24px;
			}

			p{
				font-size: 8px;
			}
		}
	}

	#work-header{
		font-size: 18px;
	}

	#work{
		.box{
			width: 300px;
		}
	}

	#more{

		header{
			font-size: 18px;
		}

		#links{

			a{
				font-size: 12px;
			}	
			
		}

	}

	#contact{

		header{
			font-size: 25px;
		}

		ul{
		padding-top: 10px;
			li{
				list-style: none;
				a{
					font-size: 10px;
					padding-inline: 10px;
					img{
						width: 40px;
						height: auto;
					}
				}
			}
		}
	}
}