
$bl-color: #161a1d;
$red-color: #a4161a;

*{
	padding: 0;
	margin: 0;
	border: 0;
}

html{
	scroll-behavior: smooth;
}

body{
	font-family:'Roboto Mono' ,Poppins, sans-serif;
	font-size: 16px;
	background-color: $bl-color;
}

#navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 40px;
	padding: 10px;
	background-color: $bl-color;
	z-index: 99;

	p{
		font-size: 20px;
		color: $red-color;
	}

	ul{
		display: flex;
		list-style: none;
		padding-right: 40px;
		a{
			text-decoration: none;
			color: white;
			padding-inline: 10px;
			transition: 0.5s;
		}
		a:hover{
			background-color: $red-color;
			color: $bl-color;
			transition: 0.5s;
		}
	}
}

#welcome{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background: $bl-color;

	#line{
		width: 2px;
		background-color: $red-color;
		height: 120px;
		margin: 10px;
	}

	#title{

		h1{
			color: white;
			font-size: 40px;
			span{
				color: $red-color;
			}
		}

		p{
			color: white;
			font-size: 14px;
			font-weight: 100;
		}
	}
}

#work-header{
	color: white;
	text-align: center;
	background-color: $bl-color;
	padding-top: 60px;
	font-size: 25px;

}

#work{
	display: grid;
	padding-top: 20px;
	background-color: $bl-color;
	grid-template-columns: repeat(2, 50%);

	.box{
		border-radius: 10px;
		box-shadow: 0 5px 4px 0 black;
		text-decoration: none;
		margin: 30px;
		transition: 0.5s;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		background-color: white;
		width: 600px;
		height: auto;

		img{
			border-radius: 10px;
			width: 100%;
			height: 100%;
		}

		p{
			font-size: 20px;
			color: $bl-color;
			span{
				transition: 0.5s;
				opacity: 0;
				color: $red-color;
			}
		}
	}
	.box:hover{
		transform: scale(1.02);
		transition: 0.5s;
		span{
			transition: 0.5s;
			opacity: 1;
		}
	}
}

#more{
	display: flex;
	flex-direction: column;
	justify-contet: center;
	align-items: center;
	background-color: $bl-color;
	header{
		color: $red-color;
		font-size: 18px;
	}

	#links{
		padding-top: 10px;
		a{
			text-decoration: none;
			color: white;
			padding-inline: 10px;
			transition: 0.5s;
		}
		a:hover{
			font-size: 20px;
			transition: 0.5s;
		}
	}
}

#contact{
	background-color: $bl-color;
	padding-top: 60px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	header{
		color: $red-color;
		font-size: 30px;
		font-weight: bolder;
	}

	ul{
		padding-top: 30px;
		padding-bottom: 30px;
		display: flex;
		li{
			list-style: none;
			a{
				text-decoration: none;
				color: white;
				padding-inline: 30px;
				display: flex;
				flex-direction: column;
				align-items: center;
				img{
					width: 80px;
					height: auto;
				}
				span{
					transition: 0.5s;
				}
			}

			a:hover{
				span{
					transition: 0.5s;
					color: $red-color;
				}
			}
		}
	}
}

@media (max-width: 1300px){
	#work{
		.box{
			width: 500px;
			height: auto;
		}
	}
}

@media (max-width: 1100px){
	#work{
		.box{
			width: 400px;
			height: auto;
		}
	}
}

@media (max-width: 880px){
	#work{
		grid-template-columns: 100%;
		.box{
			width: 800px;
			height: auto;
		}
	}
}

@media (max-width: 830px){
	#work{
		.box{
			width: 700px;
			height: auto;
		}
	}
}

@media (max-width: 700px){
	#work{
		.box{
			width: 600px;
			height: auto;
		}
	}
}

@media (max-width: 650px){
	#work{
		.box{
			width: 500px;
			height: auto;
		}
	}

	#contact{
		transform: scale(0.8);
	}
}
