* {
  padding: 0;
  margin: 0;
  border: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Roboto Mono' ,Poppins, sans-serif;
  font-size: 16px;
  background-color: #161a1d; }

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: #161a1d;
  z-index: 99; }
  #navbar p {
    font-size: 20px;
    color: #a4161a; }
  #navbar ul {
    display: flex;
    list-style: none;
    padding-right: 40px; }
    #navbar ul a {
      text-decoration: none;
      color: white;
      padding-inline: 10px;
      transition: 0.5s; }
    #navbar ul a:hover {
      background-color: #a4161a;
      color: #161a1d;
      transition: 0.5s; }

#welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #161a1d; }
  #welcome #line {
    width: 2px;
    background-color: #a4161a;
    height: 120px;
    margin: 10px; }
  #welcome #title h1 {
    color: white;
    font-size: 40px; }
    #welcome #title h1 span {
      color: #a4161a; }
  #welcome #title p {
    color: white;
    font-size: 14px;
    font-weight: 100; }

#work-header {
  color: white;
  text-align: center;
  background-color: #161a1d;
  padding-top: 60px;
  font-size: 25px; }

#work {
  display: grid;
  padding-top: 20px;
  background-color: #161a1d;
  grid-template-columns: repeat(2, 50%); }
  #work .box {
    justify-self: center;
    border-radius: 10px;
    box-shadow: 0 5px 4px 0 black;
    text-decoration: none;
    margin: 30px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 600px;
    height: auto; }
    #work .box img {
      border-radius: 10px;
      width: 100%;
      height: 100%; }
    #work .box p {
      font-size: 20px;
      color: #161a1d; }
      #work .box p span {
        transition: 0.5s;
        opacity: 0;
        color: #a4161a; }
  #work .box:hover {
    transform: scale(1.02);
    transition: 0.5s; }
    #work .box:hover span {
      transition: 0.5s;
      opacity: 1; }

#more {
  display: flex;
  flex-direction: column;
  justify-contet: center;
  align-items: center;
  background-color: #161a1d;
  padding: 20px; }
  #more header {
    color: #a4161a;
    font-size: 18px; }
  #more #links {
    padding-top: 10px; }
    #more #links a {
      text-decoration: none;
      color: white;
      padding-inline: 10px;
      transition: 0.5s; }
    #more #links a:hover {
      font-size: 20px;
      transition: 0.5s; }

#contact {
  background-color: #161a1d;
  padding-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #contact header {
    color: #a4161a;
    font-size: 30px;
    font-weight: bolder; }
  #contact ul {
    padding-top: 10px;
    padding-bottom: 30px;
    display: flex; }
    #contact ul li {
      list-style: none; }
      #contact ul li a {
        text-decoration: none;
        color: white;
        padding-inline: 30px;
        display: flex;
        flex-direction: column;
        align-items: center; }
        #contact ul li a img {
          width: 80px;
          height: auto; }
        #contact ul li a span {
          transition: 0.5s; }
      #contact ul li a:hover span {
        transition: 0.5s;
        color: #a4161a; }

@media (max-width: 480px) {
  #navbar ul {
    padding-right: 20px; }

  #welcome #line {
    height: 100px; }
  #welcome #title h1 {
    font-size: 30px; }
  #welcome #title p {
    font-size: 12px; }

  #work {
    grid-template-columns: 100%; }
    #work .box {
      width: 400px; }

  #contact ul {
    padding-top: 10px; }
    #contact ul li {
      list-style: none; }
      #contact ul li a {
        padding-inline: 10px; }
        #contact ul li a img {
          width: 60px;
          height: auto; }
        #contact ul li a span {
          transition: 0.5s; } }

/*# sourceMappingURL=master.css.map */
